.navigation_menu_root{
  position: fixed;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: brown;
  transform: translateX(-200px);
  transition: all linear 0.3s;
}
.menu__open{
  transform: translateX(0);
  background-color: blue;
}